/* =========================
   USERS MANAGEMENT STYLES
   REMS - Admin Panel
========================= */

/* General */
body {
  background: #f4f9f8;
  font-family: "Segoe UI", Tahoma, sans-serif;
}
.table-avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #20c997;
}
/* Header */
.admin-header {
  background: linear-gradient(135deg, #0d6efd, #20c997);
  color: #fff;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-header h4 {
  margin: 0;
  font-weight: 700;
}

.admin-header small {
  opacity: 0.9;
}

/* Card */
.property-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  overflow: hidden;
}

/* Card Header */
.card-header-custom {
  padding: 16px 22px;
  background: linear-gradient(135deg, #198754, #20c997);
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Table */
.table thead {
  background: #f1f5f4;
}

.table th {
  font-weight: 600;
  color: #333;
}

.table td {
  vertical-align: middle;
}

/* User Image */
.prop-img {
  width: 42px !important;
  height: 42px !important;
  min-width: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #20c997;
  display: inline-block;
}

/* Buttons */
.btn-warning {
  color: #fff;
}

.btn-warning:hover {
  background: #e0a800;
}

.btn-danger:hover {
  background: #bb2d3b;
}


/* =========================
  FOOTER (Blue - Green)
========================= */

.dashboard-footer {
  background: linear-gradient(90deg, #0d6efd, #20c997);
  color: #eafaf1;
  padding: 50px 0 20px;
}

.footer-title {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-text {
  color: #eafaf1;
  line-height: 1.7;
}


.footer-links a {
  color: #eafaf1;
  text-decoration: none;
  transition: 0.3s;
}


.footer-links a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer-divider {
  border-color: rgba(255,255,255,0.25);
}


.footer-bottom {
  font-size: 13px;
  color: #d1fae5;
}


.dashboard-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #20c997;
  background-color: white;
}

/* Brand Text beside Logo */
.brand-text {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

  /* Gradient text */
  background: linear-gradient(90deg, #000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Segoe UI", "Poppins", sans-serif;
  margin-left: 10px;
}
